.pokeFont {
  letter-spacing: 4px;
  font-size: x-large;
}

.titanium {
  background-image: linear-gradient(
    135deg,
    #{"hsl(0deg 0% 100%) 1%"},
    #{"hsl(46deg 100% 95%) 43%"},
    #{"hsl(46deg 100% 90%) 50%"},
    #{"hsl(46deg 100% 85%) 51%"},
    #{"hsl(46deg 100% 80%) 51%"},
    #{"hsl(47deg 98% 75%) 49%"},
    #{"hsl(46deg 99% 70%) 49%"},
    #{"hsl(46deg 99% 65%) 50%"},
    #{"hsl(46deg 99% 60%) 57%"},
    #{"hsl(46deg 99% 55%) 99%"}
  );
}

.toolText {
  padding-top: 2px;
  margin-top: -20px;
  visibility: hidden;
  letter-spacing: normal;
  transition: margin-top cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.tooltip:hover .toolText {
  visibility: visible;
  margin-top: 24px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.load-back {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #feca1b 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 70px;
  position: relative;
}
